<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 50px;
        }
        header {
            font-size: 24px;
            font-weight: bold;
        }
        footer {
            margin-top: 20px;
            font-size: 14px;
            color: gray;
        }
    </style>
</head>
<body>
    <header>THis is delete cookie page</header>
    <p>Cokiee is deleting.....</p>
   
    <footer>© 2025 My Website</footer>
</body>
</html>